<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.furcatcher1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FaceBookHash"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Furcatcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".entrance" />
        <activity
            android:name=".signup"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".login" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scan" />
        <activity android:name=".start"></activity>
    </application>

</manifest>